.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Opcional: centraliza os cartões horizontalmente */
    padding: 20px; /* Para garantir algum espaço ao redor dos cartões */
    gap: 20px; /* Espaçamento entre os cartões */
  }