
<main>
    <app-header></app-header>
    <div class="experience">
        <h3>Experience</h3>
        <p>texto texto texto textotextotexto textotextotextotexto textotextotexto textotextotexto textotextotextotexto textotextotextotextotexto</p>
        <div class="experience-time">

        </div>

        <div class="infos">
            <h3>Languages</h3>
            <div class="languages-info">
                <span>En - Fluent</span>
                <span>Pt-Br - Native Speaker</span>
            </div>
            <h3>Education</h3>
            <div class="educational-info">
                <span></span>
                <span>Análise e Desenvolvimento de Sistemas</span>
            </div>
        </div>
        <div class="buttons">
            <div class="social">
                <button>Contact me</button>
            </div>
        </div>
    </div>    
</main>