.app-header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    
    // padding-top: 20px;
    padding: 15px;

    
}

.app-header img{
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 100%;
    
    // padding-bottom: 20px;

    
}