
  <mat-card class="my-card">
    <img mat-card-image src="{{food.image}}">
    <mat-card-content>
        <h1> {{food.name}} </h1>
        <h2> {{food.cookTimeMinutes + food.prepTimeMinutes + "min"}} </h2>
      <p>
        {{food.ingredients}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
      </button>
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="comment"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

