  <mat-card class="my-card">
    <img mat-card-image src="{{food.image}}">
    <mat-card-content>
        <h1> {{food.name}} </h1>
        <h2> {{food.cookTimeMinutes + food.prepTimeMinutes + "min"}} </h2>
      <p>
        INGREDIENTS: {{food.ingredients}}
      </p>
    </mat-card-content>
    <mat-card-actions class="btn-container">
      <button mat-button (click)="isFavorite(food)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite" color="{{iconColor}}"></mat-icon>
      </button>
      <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="comment" color="primary"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>   


